.Jumbotron{
    background-image: url(https://www.clarin.com/img/2018/10/19/DHmTOiPVI_1256x620__1.jpg) ;
    background-size: cover;
    width: 1;
    margin-top: 1em;
    padding-top: 3em;
    padding-bottom: 3em;

};