body{
    background-color: white;
    background-image: url(https://res.cloudinary.com/dws1jugpv/image/upload/v1674053320/QWE/Captura_de_pantalla_2023-01-18_114755_k4vt8k.png);
    background-size: cover;
}

.todo{
    background-color: white;
    margin-right:  5%;
    margin-left:  5%;
}


.header-1{
    background-color: #8cd0e3;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 1%;
    text-align:center;
    width: 100%;
   
}

.header-2{
    background: linear-gradient(to right,#fb637e 0,#5e549b 100%);
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 1%;
    text-align:center;
    width: 100%;
}

.header-2 img {
    height: 40px;
}

.titulo img {
    height: 50px;
}

.subtitulo-1{
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0%;
    background-color:rgb(247, 220, 191);
}

.subtitulo-2{
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 0%;
    width: 95%;
    height: 90%;
    background-image: linear-gradient(to right, rgb(243, 232, 220) 0px, rgb(255, 147, 28) 100%);
}