.Jumbotron_2{
    background-image: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    background-size: cover;
    margin: 40px;
    padding: 10px;
    margin-bottom: 40px;
   

};


